.site {
	/* #26 header.vue */
	&-wrap {transition: 1s;
		// #84
		display: flex;
		position: fixed;
		left: 0;
		right: 0;
		bottom: 0;
		top: 0;
	}

	&-header {
		height: 60px;
		background: #FFBB77;
		display: flex;
		align-items: center;
	}

	&-logo {
		height: 50px;
		padding: 15px;
	}

}

.header-search {
	&-bar>form {
		padding-left: 15px;
		position: relative;
		z-index: 999;
		>input[type="text"] {
			height: 30px;
			width: 280px;
			border: 2px;
			background: rgba(255, 255, 255, 0.5);
			padding-right: 30px;
		}

		>input[type="submit"] {
			display: none
		}

	}

	&-plus {
		position: absolute;
		width: 320px;
		background: #fff;
		box-sizing: border-box;
		border: #ccc 1px solid;
		left: 0;

		&>p>input {
			box-sizing: border-box;
			padding-left: 7px;
			width: 318px;
			height: 25px;
			border: none;
			border-bottom: 1px solid #ddd;
		}

	}

}

.search-plus-icon {
	position: absolute;
	z-index: 10;
	cursor: pointer;
	top: 0;
	bottom: 0;
	right: 0;
	display: block;
	text-align: center;
	width: 30px;
	height: 30px;
	line-height: 30px;

	i {
		vertical-align: middle;
		line-height: 30px;
	}

}

/* #27 footer.vue */
.site-footer-wrap {
	height: 50px;
	background: #505050;
	width: 100%;
}

.Copyright {
	padding: 10px 0;

	&>p {
		text-align: center;
		color: #fff;
		font-size: 12px;
		justify-content: center;
		align-items: center;
	}

}

/* #84 leftMenu.vue */
$left-width: 500px;

.left {
	&-menu-wrap {
		// min-width: $left-width;
		z-index:11;
		height: 100%;
		background: #fff;
		// width: $left-width;
		transition: 1s;
		position: relative;
		// left: 0;
		box-shadow: 0px 0px 1px;
		box-sizing: border-box;
		// &.active {	
		// 	left: -$left-width;
		// }
	}
}
.folding {
	z-index: 10;
	position: absolute;
	cursor: pointer;
	width: 15px;
	height: 50px;
	background: #fff;
	box-sizing: border-box;
	display: flex;
	justify-content: center;
	align-items: center;
	
	&-left {
		right: -15px;
		top: calc(50% - 25px);
	}
	&-right {
		left: -15px;
		top: calc(50% - 25px);

	}
}

// #84
.contents-wrap {
	position: relative;
	width: 100%;
	height: 100%;
	// margin-left: 0;
	transition: 1s;
	// &.active{
	// 	margin-left: -$left-width;
	// }
}

// #42
.login {
	&-wrap {
		position: absolute;
		top: calc(50% - 185px);
		left: calc(50% - 175px);
		width: 350px;
	}

	&-form {
		
	}
	&-option {
		font-size: 14px; display: flex; text-align: center; display:block; justify-centent: space-between; padding-top: 10px; 
		a {margin: 15px;}

	}
	&-btn {
		margin-top: 15px;
	}

}
// #46 
.notMember {
	&-logo {
		text-align: center;
		font-size : 40px;
		font-weight: bold;
		padding-bottom: 50px;
		color: #FF8000;

	}
}

// #42 input 
::placeholder{color: #aaa;}
.input-label{position: relative; display: block; $size: 50px;
	.pre{position: absolute; top:0; left:0; height:$size; width: $size; display: flex; justify-content: center; align-items: center; z-index: 10;}
	.lbl{position:absolute; top:0; bottom:0; line-height: $size; left:$size; vertical-align: middle; display: block; color:#aaa;}
	input[type="text"],
	input[type="password"],
	input[type="textarea"],
	textarea,
	select { 
		height:$size; padding-left: $size; font-size: 15px;-webkit-appearance:none;border: #fff; 
		&.input-disabled {
			background: #FFEEDE;
		}
	}
	select{background:#fff; border-radius: 0; border: 1px solid #fff; }
	textarea{padding: 15px 0 10px $size; resize: none; height: 200px;}
	input:valid+.lbl,
	textarea:valid+.lbl{display:none}	
}

.full-width{width:100%;box-sizing:border-box;}
.fields {
	li {
		+li{margin-top:15px; }
	}
}
.btn{
	outline: none;
	height: 40px;
	text-align: center;
	width: 100%;
	background: #FFBB77;
	border: 2px solid #fff;
	text-shadow:0;
	font: {
		size: 12px;
		weight:bold;
		color: #000;
	}
	cursor: pointer;
	&:focus, &:hover { background:#FFBB77; transition: .3s; }
	&:active { letter-spacing: 2px}
}
.back-btn {
	outline: none;
	height: 40px;
	text-align: center;
	width: 100%;
	background: #fff;
	border: 2px solid #fff;
	text-shadow:0;
	font: {
		size: 12px;
		weight:bold;
		color: #000;
	}
	cursor: pointer;
	&:hover { background:#FFBB77; transition: .3s; }
	&:active { letter-spacing: 2px}
}
.dashed-btn {
	border: dashed 1px #FFBB77;		
	border-radius: 7px;
	text-align: center;
	transition: 0.5s;
	&:hover, &.active {
		background: #FFBB77;
		transition: 0.3s;
	}
	&.ban {
		cursor: not-allowed;
		background: #ddd;
	}
	&.title {
		height: 35px;
		line-height: 35px;
		font-size: 14px;
		font-weight: bold;
		width: 120px;
	}
}
// #46 
.signup {
	&-wrap {
		position: absolute;
		top: calc(50% - 235px);
		left: calc(50% - 175px);
		width: 350px;
		height: 470px;
	}
}

// #28
.container {
	height: calc(100% - 110px);
	position: relative;
}
.map {
	&-content {
		width: 100%;
		height: 100%;
	}
	&-wrap {
		height: 100%;
	}
}

// #102
.right-menu-wrap {
	position: absolute;
	min-width: 300px;
	height: 100%;
	background: #fff;
	width: 300px;
	right: 0;
	box-sizing: border-box;
	z-index: 10;
	&.right-active {
		right: 0px;
	}
	right: -300px;
}

#description {
	font-family: Roboto;
	font-size: 15px;
	font-weight: 300;
}

#infowindow-content .title {
	font-weight: bold;
}

#infowindow-content {
	display: none;
}

#map #infowindow-content {
	display: inline;
}

.pac-card {
	margin: 10px 10px 0 0;
	border-radius: 2px 0 0 2px;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	outline: none;
	box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
	background-color: #fff;
	font-family: Roboto;
}

#pac-container {
	padding-bottom: 12px;
	margin-right: 12px;
}

.pac-controls {
	display: inline-block;
	padding: 5px 11px;
}

.pac-controls label {
	font-family: Roboto;
	font-size: 13px;
	font-weight: 300;
}


/* #pac-input {
	background-color: #fff;
	font-family: Roboto;
	font-size: 15px;
	font-weight: 300;
	margin-left: 12px;
	padding: 0 11px 0 13px;
	text-overflow: ellipsis;
	width:300px; height: 40px;
	margin-top: 10px
} */

.check-show {
	font-size: 12px;
	color: #666;
	margin: 10px;
}
::-webkit-scrollbar {
	display: none;
}
.ismember {
	height: 100%;

	overflow:auto;
	&-content {
		position: relative;
		top: 120px;
		height: 100%;
	}
	&-header {
		z-index: 1000;
		position:fixed;
		width: 100%;
		height: 120px;
		&-search {
			width: 700px;
			height: 60px;
			background: #fff;
			>form{position:relative;width:50%;
				width: 300px;
				>input[type="submit"] {
					display: none
				}
			}
			&-label {
				display:block;
				width:100%;
				>input[type="text"] {
					height: 30px;
					margin: 15px;
					width: calc(100% - 33px);
					padding-right: 30px;
				}
			}
			&-more {
				position: absolute;
				top: calc(100% - 15px);
				left: 15px;
				right: 15px;
				input {
					width: calc(100% - 3px);
					height: 30px;
					box-sizing: border-box;
				}
			}
			&-icon {
				position: absolute;
				right: -15px;
				top: 15px;
				bottom: 15px;	
				padding: 0px;
				line-height: 28px;
			}
		}
		&-navigation {
			width: 700px;
			height: 50px;
			background: #FFBB77;
			display: flex;
			>li {
				>a {
					text-decoration: none;
				}
				a>i {
					display: flex;
					line-height: 50px;
					font-size: 23px;
					justify-content: center;
					align-items: center;
					width:90px;
				}
				:hover {
					transition: .3s;
					border-bottom: 4px solid #FF8000;
				}
				&.active {
					border-bottom: 4px solid #FF8000;
				}
			}
		}
	}

}


.profile {
	&-wrap {
		cursor: pointer;
		display: flex;
		height: 70px;
		transition: 1s;
		&:hover {
			font-weight: bold;
			background: #eee;
			transition: .5s;
		}
	}
	&-small-img {
		width: 50px;
		height: 50px;
		border-radius: 25px;
		margin: 10px 15px;
	}
	&-info {
		margin: 15px 10px;
	}
	&-nickname {
		font-size: 16px;
	}
	&-message {
		margin-top: 5px;
		font-size: 12px;
		color: #666;
	}
	&-title {
		padding: 10px 20px;
		display: block;
		font-size: 17px;
	}
}

.contour {
	margin: 2px;
	border: 1px dashed #ccc;
}
.image-set {
	&-small-img {
		height: 150px;
		width: 150px;
		border-radius: 20px;
		margin-top: 15px;
		margin-left: 10px;
		position: absolute;
		top:0;
		&.img {
			top: 62px;
		}

	}
	&-img {
		position: relative;


	}
	&-img-item {
		background:#eee;
		display: flex;
		justify-content: center;
		text-align: center;
		align-items: center;
		font-size: 12px;
		transition: 0.5s;
		position: relative;
		z-index: 10;
		&.none {
			opacity: 0;
			&:hover {
				opacity: 0.7;
			}
		}
	}
}
.member-info {
	&-wrap {
		margin: 0px 20px;
	}
	&-short {
		display: flex;
		height: 140px;
		overflow: hidden;
	}
	&-set {
		display: flex;
		height: 140px;
	}
	
	&-small-img {
		height: 120px;
		width: 120px;
		border-radius: 20px;
		margin: 10px 15px 10px 0px;
		& img {
			display: flex;
			justify-content: center;
			text-align: center;
		}
	}

	&-img-item {
		background:#eee;
		display: flex;
		justify-content: center;
		text-align: center;
		align-items: center;
		font-size: 12px;
		transition: 0.5s;
	}
	&-desc {
		margin-top: 20px;
		width: 100%;

		&.re-width {
			width: 70%;
			margin: 20px auto;

		}
		>p { padding: 5px 0;
			height: 30px;
		}
		>hr {
			margin: 3px 0;
			border-color: #FF8000;
		}
	}
	&-nickname {
		font-size: 20px;
		font-weight: bold;
	}
	&-message{
		font-size: 15px;
	}
	&-btn {
		display: flex;

		>li>a {
			display: inline-block;
			font-size: 14px;
			padding: 10px;
			margin: 10px 8px;
			width: 90px;
			border: dashed 1px #FFBB77;		
			height: 20px;
			text-align: center;
			border-radius: 7px;
			font-weight:bold;
			&:hover, &.active {
				background: #FFBB77;
			}
			&.ban {
				cursor: not-allowed;
				background: #ddd;
			}
			&.title {
				font-size: 14px;
				font-weight: bold;
				width: auto;
			}

		}
	}
}
.btn {

}
.visibility {
	display: flex;
	margin-top: 0;
	justify-content: space-around;
	padding-bottom: 10px;
	>li {
		width: 50%;
		>span { display:inline-block; padding: 10px;}
	}
}

.checks input[type="checkbox"] { 
	/* 실제 체크박스는 화면에서 숨김 */ 
	display:none;
} 
.checks input[type="checkbox"] + label { 
	display: inline-block; 
	position: relative; 
	cursor: pointer; 
	-webkit-user-select: none; -moz-user-select: none; -ms-user-select: none; 
} 
.checks input[type="checkbox"] + label:before {
	 /* 가짜 체크박스 */ 
	 content: ' '; 
	 display: inline-block; 
	 width: 21px;  /* 체크박스의 너비를 지정 */ 
	 height: 21px;  /* 체크박스의 높이를 지정 */ 
	 line-height: 21px;  /* 세로정렬을 위해 높이값과 일치 */
	 margin: -2px 8px 0 0; 
	 text-align: center; vertical-align: middle;
	 background: #fff; 
	 border: 1px solid #FFBB77; border-radius : 3px; 

	} 

	.checks input[type="checkbox"]:checked + label:before { 
	/* 체크박스를 체크했을때 */ 
	content: '\2714'; 	/* 체크표시 유니코드 사용 */ 
	color: #000;
}


.visibility {
	display: flex;
	margin-top: 0;
	justify-content: space-around;
	padding-bottom: 10px;
	>li {
		width: 50%;
		>span { display:inline-block; padding: 10px;}
	}
}

.checks input[type="checkbox"] { 
	/* 실제 체크박스는 화면에서 숨김 */ 
	display:none;
} 
.checks input[type="checkbox"] + label { 
	display: inline-block; 
	position: relative; 
	cursor: pointer; 
	-webkit-user-select: none; -moz-user-select: none; -ms-user-select: none; 
} 
.checks input[type="checkbox"] + label:before {
	 /* 가짜 체크박스 */ 
	 content: ' '; 
	 display: inline-block; 
	 width: 21px;  /* 체크박스의 너비를 지정 */ 
	 height: 21px;  /* 체크박스의 높이를 지정 */ 
	 line-height: 21px;  /* 세로정렬을 위해 높이값과 일치 */
	 margin: -2px 8px 0 0; 
	 text-align: center; vertical-align: middle;
	 background: #fff; 
	 border: 1px solid #FFBB77; border-radius : 3px; 

	} 

	.checks input[type="checkbox"]:checked + label:before { 
	/* 체크박스를 체크했을때 */ 
	content: '\2714'; 	/* 체크표시 유니코드 사용 */ 
	color: #000;
}

.chat {
	&-footer {
		position: fixed;
		bottom: 0;
		height: 100px;
		background: #FFBB77;
		width: 700px;
		& input[type="submit"] {
			border: none;
			position: absolute;
			top: 5px;
			width: 55px;
			height: 30px;
			border-radius: 3px;
			background: #505050;
			color: #fff;
			right: 5px;
			cursor: pointer;
		}
	}
	&-input {
		position: relative;
		padding: 3px;
		border-radius: 3px;
		border: 1px solid #fff;
		z-index: 1;
		width: 90%;
		font-weight: bold;
		outline: none;
		left: 5px;
		resize: none;
		// overflow-y: hidden;
		line-height: 1.6;
		height: auto;
		max-height: 100px;
		margin-top: 5px;
	}
	&-menu {
		height: calc(100% - 210px);
		background: #09f;
		width: 50%;
		position: absolute;
		right: 0;
		margin-right: -50%;
		transition: .3s;
		&.active {
			transition: .3s;
			margin-right: 0;
		}
	}
	&-content {
		position: absolute;
		width: 100%;
		background: #eee;
		transition: .3s;
		height: calc(100% - 210px);
		&.active {
			transition: .3s;
			width: 50%;
		}
	}
}
.group {
	&-wrap {
		position: relative;
		height: 100%;
		top: -10px;
	}
	&-friend-search{
		input {	margin-top: 10px; }
	}
	&-visibility {
		display: flex;
		font-size: 15px;
		font-weight: bold;
		justify-content: space-around;
		align-items: center;
		label {
			text-align: left;
			cursor: default;
		}
		a {
			display: inline-block;
			width: 100px;
			height: 35px;
			margin: 0;
			line-height: 35px;
			text-align: center;
		}
	}
}
.create-group {
	margin: 0 10px;
}
.fixed {
	position: fixed;
}