.site {
	/* #26 header.vue */
	&-wrap {transition: 1s;
		// #84
		display: flex;
		position: fixed;
		left: 0;
		right: 0;
		bottom: 0;
		top: 0;
	}

	&-header {
		height: 60px;
		background: #FFBB77;
		display: flex;
		align-items: center;
	}

	&-logo {
		height: 50px;
		padding: 15px;
	}

}

.header-search {
	&-bar>form {
		position: relative;
		z-index: 999;
		>input[type="text"] {
			height: 30px;
			width: 280px;
			border: 2px;
			background: rgba(255, 255, 255, 0.5);
			padding-right: 30px;
		}

		>input[type="submit"] {
			display: none
		}

	}

	&-plus {
		position: absolute;
		width: 320px;
		background: #fff;
		box-sizing: border-box;
		border: #ccc 1px solid;
		left: 0;

		&>p>input {
			box-sizing: border-box;
			padding-left: 7px;
			width: 318px;
			height: 25px;
			border: none;
			border-bottom: 1px solid #ddd;
		}

	}

}

.search-plus-icon {
	position: absolute;
	z-index: 10;
	cursor: pointer;
	top: 0;
	bottom: 0;
	right: 0;
	display: block;
	text-align: center;
	width: 30px;
	height: 30px;
	line-height: 30px;

	i {
		vertical-align: middle;
		line-height: 30px;
	}

}

/* #27 footer.vue */
.site-footer-wrap {
	height: 50px;
	background: #505050;
	width: 100%;
}

.Copyright {
	padding: 10px 0;

	&>p {
		text-align: center;
		color: #fff;
		font-size: 12px;
		justify-content: center;
		align-items: center;
	}

}

/* #84 leftMenu.vue */
$left-width: 500px;

.left {
	&-menu-wrap {
		// min-width: $left-width;
		height: 100%;
		background: #fff;
		// width: $left-width;
		transition: 1s;
		position: relative;
		// left: 0;
		box-shadow: 0px 0px 1px;
		box-sizing: border-box;
		// &.active {	
		// 	left: -$left-width;
		// }
	}
}
.folding {
	z-index: 10;
	position: absolute;
	cursor: pointer;
	width: 15px;
	height: 50px;
	background: #fff;
	box-sizing: border-box;
	display: flex;
	justify-content: center;
	align-items: center;
	
	&-left {
		right: -15px;
		top: calc(50% - 25px);
	}
	&-right {
		left: -15px;
		top: calc(50% - 25px);

	}
}

// #84
.contents-wrap {
	position: relative;
	width: 100%;
	height: 100%;
	// margin-left: 0;
	transition: 1s;
	// &.active{
	// 	margin-left: -$left-width;
	// }
}

// #42
.login {
	&-wrap {
		position: absolute;
		top: calc(50% - 185px);
		left: calc(50% - 175px);
		width: 350px;
	}

	&-form {
		
	}
	&-option {
		font-size: 14px; display: flex; text-align: center; display:block; justify-centent: space-between; padding-top: 10px; 
		a {margin: 15px;}

	}
	&-btn {
		margin-top: 15px;
	}

}
// #46 
.notMember {
	&-logo {
		text-align: center;
		font-size : 40px;
		font-weight: bold;
		padding-bottom: 50px;
		color: #FF8000;

	}
}

// #42 input 
::placeholder{color: #aaa;}
.input-label{position: relative; display: block; $size: 50px;
	.pre{position: absolute; top:0; left:0; height:$size; width: $size; display: flex; justify-content: center; align-items: center; z-index: 10;}
	.lbl{position:absolute; top:0; bottom:0; line-height: $size; left:$size; vertical-align: middle; display: block; color:#aaa;}
	input[type="text"],
	input[type="password"],
	input[type="textarea"],
	textarea,
	select { height:$size; padding-left: $size; font-size: 15px;-webkit-appearance:none;border: #fff; }
	select{background:#fff; border-radius: 0; border: 1px solid #fff; }
	textarea{padding: 15px 0 10px $size;}
	input:valid+.lbl,
	textarea:valid+.lbl{display:none}	
}

.full-width{width:100%;box-sizing:border-box;}

.fields {
	li {
		+li{margin-top:15px; }
	}
}
.btn{
	outline: none;
	height: 40px;
	text-align: center;
	width: 100%;
	background: #FFBB77;
	border: 2px solid #fff;
	text-shadow:0;
	font: {
		size: 12px;
		weight:bold;
		color: #000;
	}
	cursor: pointer;
	&:focus, &:hover { background:#FFBB77; transition: .3s; }
	&:active { letter-spacing: 2px}
}
.back-btn {
	outline: none;
	height: 40px;
	text-align: center;
	width: 100%;
	background: #fff;
	border: 2px solid #fff;
	text-shadow:0;
	font: {
		size: 12px;
		weight:bold;
		color: #000;
	}
	cursor: pointer;
	&:hover { background:#FFBB77; transition: .3s; }
	&:active { letter-spacing: 2px}
}

// #46 
.signup {
	&-wrap {
		position: absolute;
		top: calc(50% - 235px);
		left: calc(50% - 175px);
		width: 350px;
		height: 470px;
	}
}

// #28
.container {
	height: calc(100% - 110px);
	position: relative;
}
.map {
	&-content {
		width: 100%;
		height: 100%;
	}
	&-wrap {
		height: 100%;
	}
}

// #102
.right-menu-wrap {
	position: absolute;
	min-width: 300px;
	height: 100%;
	background: #fff;
	width: 300px;
	right: 0;
	box-sizing: border-box;
	z-index: 10;
	&.right-active {
		right: 0px;
	}
	right: -300px;
}

#description {
	font-family: Roboto;
	font-size: 15px;
	font-weight: 300;
}

#infowindow-content .title {
	font-weight: bold;
}

#infowindow-content {
	display: none;
}

#map #infowindow-content {
	display: inline;
}

.pac-card {
	margin: 10px 10px 0 0;
	border-radius: 2px 0 0 2px;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	outline: none;
	box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
	background-color: #fff;
	font-family: Roboto;
}

#pac-container {
	padding-bottom: 12px;
	margin-right: 12px;
}

.pac-controls {
	display: inline-block;
	padding: 5px 11px;
}

.pac-controls label {
	font-family: Roboto;
	font-size: 13px;
	font-weight: 300;
}


/* #pac-input {
	background-color: #fff;
	font-family: Roboto;
	font-size: 15px;
	font-weight: 300;
	margin-left: 12px;
	padding: 0 11px 0 13px;
	text-overflow: ellipsis;
	width:300px; height: 40px;
	margin-top: 10px
} */

.check-show {
	font-size: 12px;
	color: #666;
	margin: 10px;
}

.ismember {
	&-header {
		height: 120px;
		&-search {
			height: 60px;
			background: #fff;
			width: 100%;
			>form{position:relative;width:50%;
				>input[type="submit"] {
					display: none
				}
			}
			&-label {
				display:block;
				width:100%;
				>input[type="text"] {
					height: 30px;
					margin: 15px;
					width: calc(100% - 75px);
					padding-right: 30px;
				}
			}
			&-more {
				position: absolute;
				top: calc(100% - 15px);
				left: 15px;
				right: 15px;
				input {
					width: calc(100% - 3px);
					height: 30px;
					box-sizing: border-box;
				}
			}
			&-icon {
				position: absolute;
				right: 15px;
				top: 15px;
				bottom: 15px;	
				padding: 0 15px;
				line-height: 28px;
			}
		}
		&-navigation {
			height: 60px;
			background: #FFBB77;
		}
	}
	&-content {
		height: 700px;
		background: #09f;
	}
}